@model Entity.SearchOut.SearchOutGame
@{
}
<head>
    <style>
        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        th, td, td {
            height: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th width="40px">ID</th>
            <th width="200px">Host ID</th>
            <th width="200px">Status</th>
            <th width="200px">Action</th>

        </tr>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.HostId</td>
                @if (@game.Status == true)
                {
                    <td>Включено</td>
                }
                else
                {
                    <td>Выключено</td>
                }
                <td>
                    <a asp-area="" asp-controller="Game" asp-action="Join" asp-route-gameId="@game.Id">Join</a>
                </td>
            </tr>
        }
    </table>
</body>